<p class="lead">Available Plans</p>
<div class="card-group">
  <% @plans.each do |plan| %>
    <div class="col-sm-3">
      <div class="card text-center well">
        <div class="card-header">
          <%= plan.name %>
        </div>
        <div class="card-block">
          <br>
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text"><span class="badge">$ <%= plan.price %></span></p>
          <%= link_to "Subscribe", new_subscription_path(plan_id: plan.id), class: "btn btn-info" %>
          <br>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
    </div>
  <% end %>
</div>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>