
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script src="https://js.braintreegateway.com/web/dropin/1.3.1/js/dropin.min.js"></script>

<script>
var clientToken = "<%= Braintree::ClientToken.generate( :customer_id => current_user.customer_id) %>";
/*
braintree.setup(clientToken, "dropin", {
  container: "payment-form",
  options: {
      submit_for_settlement: true
  },
  locale: 'es_ES',
  paypal: {
    singleUse: true,
    currency: 'USD',
    locale: 'es_ES',
    amount: 10.00
  },
  dataCollector: {
    paypal: true  // Enables fraud prevention
  },
  custom: {id: "payment-form"},
  onError :function(obj){
    alert('onError');
    console.log(JSON.stringify(obj));
  }
});

:options => {  :fail_on_duplicate_payment_method => true }
https://js.braintreegateway.com/v2/braintree.js
https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js
https://js.braintreegateway.com/web/3.19.1/js/client.min.js
*/
  var submitButton = document.querySelector('#submit-button');
  braintree.dropin.create({
      authorization: clientToken,
      selector: '#payment-form',
      locale: 'es_ES', // esto deberia ser dinamico
      paypalPaymentPriority: ['paypal', 'card'],
      paypal: {
        flow: 'checkout'
      }
     }, function (err, dropinInstance) {
      if ( submitButton ) {
        submitButton.addEventListener('click', function () {
          dropinInstance.requestPaymentMethod(function (err, payload) {
            // Send payload.nonce to your server.
          });
        });

        if (dropinInstance.isPaymentMethodRequestable()) {
          // This will be true if you generated the client token
          // with a customer ID and there is a saved payment method
          // available to tokenize with that customer.
          submitButton.removeAttribute('disabled');
        }

        dropinInstance.on('paymentMethodRequestable', function (event) {
          console.log(event.type); // The type of Payment Method, e.g 'CreditCard', 'PayPalAccount'.

          submitButton.removeAttribute('disabled');
        });

        dropinInstance.on('noPaymentMethodRequestable', function () {
          submitButton.setAttribute('disabled', true);
        });
      }
    });

</script>

<div class="container">
<h1>Subscribe</h1>
<%= simple_form_for( :subscription, html: { class: 'well' })  do |f| %>
<div class="col-sm-6 col-sm-offset-1">
  <div id="payment-form">
  </div>
  <input type="submit" value="Subscribe Now" class="btn btn-primary" id="submit-button">
</div>
<% end %>
</div>
